.ql-editor {
    font-family: Arial, Helvetica, sans-serif;
}

.ql-font-times-new-roman {
    font-family: "Times New Roman", Times, serif;
}

.ql-font-arial {
    font-family: Arial, Helvetica, sans-serif;
}